.bg-container{
background-image: url(../Asserts/todolistbg.webp); 
height: 700px;
width: 320px;
}

.bg-container1{
    background-image: url(../Asserts/chatbg.png);
    height: 600px;
    width: 380px;
}